
header {
    text-align: center;

    font-size: 20px;
    border: 2px black solid;
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50% 50%;
    background-color: lightslategray;
}

.Company {
    border: 1px black solid;
}

.Dates {
    float: end;
}

a, a:visited, a:hover, a:active {
    color: blue;
  }

img {
    width:300px;
    height:160px
}

#description {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 10px;
    margin-top: 0.5px;
    text-align: center;
  }
