
header {
    text-align: center;
    font-size: 20px;
    border: 2px black solid;
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 10px 10px 10px;
}

main {

    background-color: lightslategray;
}

.Company {
    border: 1px black solid;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;

}

#col{
    column-count: 2;
    column-width: 50%;
}

.Dates {
    float: end;
}

a, a:visited, a:hover, a:active {
    color: blue;
  }

img {
    width:300px;
    height:160px
}

#description {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 2px;
    text-align: center;
  }
